Django==1.4.2
MySQL-python==1.2.3
PIL==1.1.7
South==0.7.6
distribute==0.6.28
django-bootstrap-toolkit==2.5.11
django-tables2==0.13.0
html5lib==0.95
pyPdf==1.13
reportlab==2.6
wsgiref==0.1.2
xhtml2pdf==0.0.4
