{% extends "contacts/mailtemplate/base.html" %}
{% load i18n %}

{% block title %}{{ block.super }}: {% trans "Delete" %} {{ object }}{% endblock %}

{% block content_title %}
    {% trans "Delete" %} {{ object }}
{% endblock %}

{% block content %}
<div class="alert alert-block">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <h4>{% trans "Warning!" %}</h4>
  {% trans 'You are about to delete this record. Do you want to continue?' %}
</div>

    <form action="." method="post" accept-charset="utf-8"  class="form-horizontal">
        {% csrf_token %}
        <div class="control-group">
            <label class="control-label" for="cancel_person">{% trans 'Confirm' %}</label>                
            <div class="controls">
                <select name="delete_mailtemplate" id="delete_mailtemplate" size="1" class="input-mini">
                    <option value="No">{% trans "No" %}</option>
                    <option value="Yes">{% trans "Yes" %}</option>
                </select>
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" value="Submit" class="btn btn-primary">{% trans 'Delete' %}</button>
        </div>
    </form>
{% endblock %}


{% block actions %}
<a href="{%  url contacts_mailtemplate_list %}"  class="btn"><i class="icon-arrow-left"></i> {% trans "Return to list" %}</a>
{% endblock %}
