<!DOCTYPE html>
<html lang="ca">
{% load i18n %}
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% trans "Contacts" %}{% endblock %}</title>
  {% block metas %}
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link href="/contactes/img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  {% endblock metas %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  

    <!-- Le styles -->
  {% block css %}    
    <link href="/contactes/css/bootstrap_united.css" rel="stylesheet">
    <!-- link href="/contactes/css/bootstrap.css" rel="stylesheet" -->
    <link href="/contactes/css/datepicker.css" rel="stylesheet">
    <link rel="stylesheet" href="/contactes/css/stylejaem.css" type="text/css">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  {% endblock css %}
  {% block page_css %}{% endblock page_css %} 



  </head>

  <body>
    <div id="wrap"> 
        <div class="navbar  navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
            <a class="brand" href="#">Inscripcions XVI JAEM</a>
                {% if user.username %}
                <ul class="nav">
                <li><a href="{% url contacts_person_list %}">Llistat d'<b>inscrits</b></a></li>
                <!-- li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Revisar <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                    <li><a href="#">Pendents pagament</a></li>
                    <li><a href="#">Pendents revisió</a></li>
                    </ul>
                </li-->
                <li><a href="{% url contacts_mailtemplate_list %}">Llistat de <b>plantilles mail</b></a></li>
                </ul>                
                <div id="usuari" class="pull-right">
                    {% if user.username %}
                    <ul class="nav">
                    <li class="navbar-text">Usuari identificat: <span>{{ user.username }}</span></li>
                    <li><a href="{% url django.contrib.auth.views.logout %}"><i class="icon-off icon-white"></i> {% trans 'Logout' %}</a></li>
                    </ul>
                    {% endif %}
                </div>  
                {% endif %}
            </div>
        </div>
        </div>
        <div class="container">
        <div class="page-header">
            <h1>{% block content_title %}{% endblock content_title %}</h1>
        </div>
        <div id="actions" class="btn-group">
            {% block actions %}{% endblock %}    
        </div>

        {% block content %}{% endblock content %}

        </div> <!-- /container -->
        
    </div>
    <footer>
        <div class="container">
            <div class="pull-right">
                <img src="/contactes/img/logo_jaem_simple.png" title="XVI JAEM" alt="Logo JAEM" />
            </div>
        {% if request.session.viewed %}
        <h2>{% trans 'Latest records' %}</h2>
        <ul>
            {% for person in request.session.viewed %}
                <li><a href="{{ person.get_absolute_url }}">{{ person.fullname }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
        </div>
    </footer>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/contactes/js/bootstrap.min.js"></script>
    <script src="/contactes/js/bootstrap-datepicker.js"></script>
    {% block page_js %}{% endblock page_js %}

  </body>
</html>