<!DOCTYPE html>
<html lang="ca">
{% load i18n %}
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% trans "Contacts" %}{% endblock %}</title>
  {% block metas %}
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  {% endblock metas %}

    <!-- Le styles -->
  {% block css %}            
    <style type="text/css">
      body {
        padding-top: 0px;
        padding-bottom: 0px;
        font-size: 150%;
      }
      .center{
            text-align:center;
       }
      .header-row { padding-bottom: 30px;}
      @page {
      size: a4;
      margin: 0cm;
} 

    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  {% endblock css %}
  {% block page_css %}{% endblock page_css %} 



  </head>

  <body>
  <table border="0" width="85%" height="38px"><tr><td>&nbsp;</td></tr><table>
    <table border="0" width="85%" height="" align="center"> 
        <tr class="header-row">
        <td><br/>
        <img src="contactes/img/logo_simple219x150_300ppp.png"  height="150" width="219" title="XVI JAEM" alt="Logo JAEM" /></td>
        <td colspan="2" class="center"><h1><font size="18pt">&nbsp;&nbsp;&nbsp;{% block content_title %}{% endblock content_title %}</font></h1></td>
        </tr>
        <tr><td colspan="3" ><font face="times new roman" size="13pt">
        {% block content %}{% endblock content %}
        <br/><br/></font>
        </td>
        </tr>
        <tr>
        <td class="center">&nbsp;&nbsp;&nbsp;<img src="contactes/img/logoxeix177x124_300ppp.png" height="124" width="177" title="FESPM" alt="Logo FESPM" /></td>
        <td>&nbsp;</td>
        <td class="center"><img src="contactes/img/fespm_263x144_300ppp.png" height="144" width="263" title="FESPM" alt="Logo FESPM" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr>      
    </table>
    <table border="0" width="85%" ><tr><td><font size="114.5px">&nbsp;</font></td></tr><table>

    <img src="contactes/img/peu744x95_300ppp.png"  height="115" width="900" title="XVI JAEM" alt="Logo JAEM" />
</html>