#actions a.nav-return{
       padding-left: 25px !important;
       background-image: url('../images/b_prevpage.png');
       background-position: 5px center;
       background-repeat: no-repeat;
}
#actions a.nav-edit{
       padding-left: 25px !important;
       background-image: url('../images/b_edit.png');
       background-position: 5px center;
       background-repeat: no-repeat;
}
#actions a.nav-read{
       padding-left: 25px !important;
       background-image: url('../images/b_view.png');
       background-position: 5px center;
       background-repeat: no-repeat;
}
#actions a.nav-delete{
       padding-left: 25px !important;
       background-image: url('../images/b_drop.png');
       background-position: 5px center;
       background-repeat: no-repeat;
}
#actions a.nav-new{
       padding-left: 25px !important;
       background-image: url('../images/b_new.png');
       background-position: 5px center;
       background-repeat: no-repeat;
}
#actions a.nav-import{
       padding-left: 25px !important;
       background-image: url('../images/b_import.png');
       background-position: 5px center;
       background-repeat: no-repeat;
}
#actions a.nav-export{
       padding-left: 25px !important;
       background-image: url('../images/b_export.png');
       background-position: 5px center;
       background-repeat: no-repeat;
}
#actions a.nav-map{
       padding-left: 25px !important;
       background-image: url('../images/b_map.png');
       background-position: 5px center;
       background-repeat: no-repeat;
}

#actions a.nav-revision{
       padding-left: 25px !important;
       background-image: url('../images/b_check.png');
       background-position: 5px center;
       background-repeat: no-repeat;
}

/* FILTRE */

form {
  padding: 10px;
  margin-bottom: 20px;
  color: inherit;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

form ul{
  list-style: none;
  margin: 0px;
}

#actions {
    margin-bottom: 20px;
}

/* TAULA */
a.actions-read, a.actions-edit, a.actions-delete {
    display: block;
    float: left;
    text-indent:-3000px;
    white-space: nowrap;
    width: 16px;
    height: 16px;
    overflow: hidden;
}
a.actions-read {
    background-image: url('../images/b_view.png');
    margin-left: 5px;
}
a.actions-edit {
    background-image: url('../images/b_edit.png');
}
a.actions-delete  {
    background-image: url('../images/b_drop.png');
    margin-left: 10px;
}

.table-container a{
    color: #516064;
    text-decoration: none;
}

th:first-letter,label:first-letter{
    text-transform: uppercase;
}

ul.pagination {
  margin: 20px 0;
  list-style: none;
  text-align: center;
  *zoom: 1;
}
ul.pagination:before,
ul.pagination:after {
  display: table;
  content: "";
  line-height: 0;
}
ul.pagination:after {
  clear: both;
}
ul.pagination li {
  display: inline;
}
ul.pagination a,
ul.pagination span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
ul.pagination a:hover {
  text-decoration: none;
  background-color: #f5f5f5;
}
ul.pagination .next a,
ul.pagination .next span {
  float: right;
}
ul.pagination .previous a {
  float: left;
}
ul.pagination .disabled a,
ul.pagination .disabled a:hover,
ul.pagination .disabled span {
  color: #999999;
  background-color: #fff;
  cursor: default;
}


/* footer */
html,body {
    height: 100%;
        /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 50%;
}

footer{
    background-color:#f7f7f9;
    color: #444444;
    min-height: 35%;
    margin-top: 30px;
    border-top: 2px solid #e1e1e8;
}

@media print {
    .navbar, #actions, footer{
        display: none;
    }
    html,body {
        height: none;
    }
    #wrap {
        min-height: none;
    }


}
.filter {
  margin-bottom: 20px;
}
.filter div {
  display: inline-block;
  margin-top: 10px;

}
.filter div label{
  min-width: 100px;
  text-align: right;
  margin-left: 10px;
}

.filter div input[type=text], .filter div select{
  width: 155px;
}
