{% extends "contacts/excursion/base.html" %}
{% load i18n %}
{% load django_tables2 %}

{% block title %}{{ block.super }}: {% trans "List of excursion registrations" %}{% endblock %}

{% block content_title %}
    {% trans "List of excursion registrations" %}
{% endblock %}

{% block content %}


<form action="." method="get" accept-charset="utf-8" class="form-inline form-filtre">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {% csrf_token %}
        {{ form.errors }}
        <fieldset id="filter" class="filter">
            <legend>{% trans "Filter" %}</legend>
            <div><label for="id_last_name">{{ form.last_name.label }}</label> {{  form.last_name }}</div>
            <div><label for="id_email_address">{{ form.email_address.label }}</label> {{  form.email_address }}</div>
            <div><label for="id_status">{{ form.status.label }}</label> {{  form.status }}</div>
            <div><label for="id_mailnotpaid_unsent">{{ form.mailnotpaid_unsent.label }}</label> {{  form.mailnotpaid_unsent }}</div>
            <div><label for="id_mailregister_unsent">{{ form.mailregister_unsent.label }}</label> {{  form.mailregister_unsent }}</div>
        </fieldset>
        <button type="submit" value="Submit" class="btn btn-primary"><i class="icon-white icon-search"></i> {% trans "Filter" %}</button>
    </form>
    <div class="table table-hover">
    {% render_table table %}
    </div>
{% endblock %}

{% block actions %}
    <a href="{%  url contacts_excursion_create %}" class="btn"><i class="icon-plus"></i> {% trans "Create" %}</a>
    <a href="{%  url contacts_excursion_export %}" class="btn"><i class="icon-arrow-up"></i> {% trans "Export" %}</a>
    <a href="{%  url contacts_stats_excursion %}" class="btn"><i class="icon-list-alt"></i> {% trans "Inscription stats" %}</a>
{% endblock %}
