{% extends "contacts/regtaller/base.html" %}
{% load i18n %}

{% block title %}{{ block.super }}: {{ object }}{% endblock %}

{% block content_title %}
        <span class="fn">{{ object }}</span>
{% endblock %}


{% block content %}
    <p>
        <h3>{% trans "Personal Data" %}</h3>
        <b>{% trans "Nom" %}:</b> {{ object.first_name }} {{ object.last_name }}<br />
        <b>{% trans "Email address" %}:</b> {{ object.email_address }}<br />
    </p>
    <hr/>
    {% if object.remarks %}
    <p>
        <h3>{% trans "Remarks" %}</h3>
        {{ object.remarks|linebreaks }}
    </p>
    <hr/>
    {% endif %}
    <p>
        <h3>{% trans "Selected tallers" %}</h3>
        <table class="table table-hover table-bordered">
        <thead>
            <tr>
            <th>{% trans "Preference order" %}</th>
            <th>{% trans "Assigned" %}</th>
            <th>{% trans "Taller title" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for reltaller in object.tallers_ordered %}
            <tr>
            <td>{{ reltaller.preference_order }}</td>
            <td>{{ reltaller.assigned }}</td>
            <td>{{ reltaller.taller.title }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>

    </p>

    <small>
        {% trans 'Record created in' %} {{ object.date_added }}{% if object.user_add %} {% trans 'by' %} {{ object.user_add }}{% endif %}. {% trans 'Modified in' %} {{ object.date_modified }}{% if object.user_modify %} {% trans 'by' %} {{ object.user_modify }}{% endif %}.
    </small>
{% endblock %}

{% block actions %}
    <a href="{%  url contacts_regtaller_list %}"  class="btn"><i class="icon-arrow-left"></i> {% trans "Return to list" %}</a>
    <a href="{{ object.get_update_url }}" class="btn"><i class="icon-edit"></i> {% trans "Edit" %}</a>
    <a href="{{ object.get_delete_url }}" class="btn"><i class="icon-trash"></i> {% trans "Delete" %}</a>
{% endblock %}

{% block page_js %}

{% endblock page_js %}
