{% extends "contacts/base_pdf_watermark.html" %}
{% load i18n %}

{% block title %}Certificado aceptación aportación{% endblock %}

{% block content_title %}

{% endblock %}

{% block content %}


<p>
Estimado/s
</p>
<p>
    <b>
    {{ autors }}
    </b>
</p>
{% if autors|length|get_digit:"-1" < 80 %}
  <br/>
{% endif %}

<p>
Su aportación titulada "<b>{{ titol }}</b>" ({{ tipologia }}) ha sido aceptada por el Comité Científico de las XVI Jornadas para el Aprendizaje y Enseñanza de las Matemáticas, JAEM Palma 2013.
<br/>
</p>
{% if titol|length|get_digit:"-1" < 80 %}
  <br/>
{% endif %}

<p>
    {% if status != 'ok_all' %}
        Tal aceptación está condicionada al pago de la Inscripción en el evento.
    {% endif %}
    <br/><br/>
</p>


<p>
Palma (Mallorca, España), {{ avui }}<br/>
Atentamente,<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="contactes/img/signatura_jaem.png"  height="115" title="Signatura JAEM" alt="Signatura JAEM" /><br>

En nombre del Comité Científico,<br>
Aina Maria González Juan, presidenta<br>
</p>



{% endblock %}



