{% extends "contacts/base_pdf_watermark_ca.html" %}
{% load i18n %}

{% block title %}Justificant inscripció a Excursió i/o Sopar de gala{% endblock %}

{% block content_title %}
    Justificant d'inscripció {% if object.qty_excursion > 0 %} excursió {% endif %} {% if object.qty_excursion > 0 and object.qty_dinner > 0  %} <br /> i {% endif %} {% if object.qty_dinner > 0 %} sopar de gala {% endif %}
{% endblock %}

{% block content %}
<br/>
<br/>
    <p>
{% if object.paid > 0 %}
Hem rebut de <b>{{ object.first_name }} {{ object.last_name }}</b>, amb DNI <b>{{ object.person.id_card }}</b>, la quantitat de {{ object.paid }} € en concepte d'inscripció a {% if object.qty_excursion > 0 %} l'excursió {% endif %} {% if object.qty_excursion > 0 and object.qty_dinner > 0  %} i {% endif %} {% if object.qty_dinner > 0 %} sopar de gala {% endif %} de les XVI JAEM (Jornades per a l'Aprenentatge i l'Ensenyança de les Matemàtiques).
{% else %}
Confirmam la inscripció de <b>{{ object.first_name }} {{ object.last_name }}</b> a {% if object.qty_excursion > 0 %} l'excursió {% endif %} {% if object.qty_excursion > 0 and object.qty_dinner > 0  %} i {% endif %} {% if object.qty_dinner > 0 %} sopar de gala {% endif %} de les XVI JAEM (Jornades per a l'Aprenentatge i l'Ensenyança de les Matemàtiques).
{% endif %}
</p>
<br/>

<b>Detall de la inscripció:</b><br>
{% if object.qty_excursion > 0 %} - Places excursió: {{ object.qty_excursion }}<br/>{% endif %}
{% if object.qty_dinner > 0 %} - Places sopar de gala: {{ object.qty_dinner }}<br/>{% endif %}
{% if object.qty_bus > 0 %} - Places bus:  {{ object.qty_bus }}<br/>{% endif %}

<p>
<i>Palma, a {{ avui }}</i>
</p>

<table border="0" width="100%" align="center">
        <tr class="header-row">
        <td colspan="1">&nbsp;</td>
        <td aling="center" width="400px"><center><img src="contactes/img/signatura_214x125_300ppp.png"  height="125" width="214" title="XVI JAEM" alt="Logo JAEM" />
	<br>
	<b>Josep Lluís Pol i Llompart</b><br/>
	<i>President del comitè organitzador</i></td></center>
	</tr>
</table>

{% endblock %}

