<!DOCTYPE html>
{% load i18n %}
<html><head>
  <meta http-equiv="CONTENT-TYPE" content="text/html; charset=utf-8">
  <title>FICHA-REGISTRO DE PARTICIPANTES EN ACTIVIDADES DE FORMACIÓN PERMANENTE</title>
  <style type="text/css">
    @page {
        size: a4;
        margin: 0.3cm 0.8cm 0.3cm 0.8cm;
   }
    P { margin-bottom: 0cm; direction: ltr; color: #000000; widows: 2; orphans: 2 }
    P.western { font-family: "Arial", sans-serif; font-size: 6pt; padding-left: 5px; vertical-align: top;}
    P.cjk { font-family: "Times New Roman", serif; font-size: 6pt }
    P.ctl { font-family: "Arial", sans-serif; font-size: 12pt;  }
    H1 { margin-left: 0.32cm; margin-top: 0cm; margin-bottom: 0cm; direction: ltr; color: #000000; text-align: center; widows: 2; orphans: 2 }
    H1.western { font-family: "Times New Roman", serif; font-size: 9pt; }
    H1.cjk { font-family: "Times New Roman", serif; font-size: 9pt }
    H1.ctl { font-family: "Times New Roman", serif; font-size: 9pt;  }
    A:link { color: #0000ff }
    td {text-align: left; padding-top: 3px; padding-left: 3px; vertical-align: top;}
    img {vertical-align: top;}
  </style>
</head>
<body lang="ca-ES" text="#000000" link="#0000ff" dir="LTR">

<center>
  <table dir="LTR" width="649" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td colspan="27" width="645" height="31" style="border: none; ">
          <img src="contactes/img/mec.jpg" width="372" height="69" border="0">
          <p align="CENTER" class="western">
            <h1>FICHA-REGISTRO DE PARTICIPANTES EN ACTIVIDADES DE FORMACIÓN PERMANENTE</h1>
          </p>
        </td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td colspan="4" width="105" height="19" style="background-color:#c0c0c0; border-top: 1.00pt solid #000000;border-left: 1.00pt solid #000000;border-bottom: 1px solid #000000;border-right: 1px solid #000000;">
          <p class="western"><b>Nombre de la Entidad Organizadora:</b></p>
        </td>
        <td colspan="23" width="537" style="border-top: 1.00pt solid #000000; border-bottom: 1px solid #000000; border-left: none; border-right: 1.00pt solid #000000;">
          <p  class="western"><b>FEDERACIÓN
          ESPAÑOLA DE SOCIEDADES DE PROFESORES DE MATEMÁTICAS</b></p>
        </td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td rowspan="2" colspan="4" width="105" height="11" style="background-color:#c0c0c0; border-left: 1.00pt solid #000000;
        border-right: 1px solid #000000;">
          <p class="western">
          <b>Título de la actividad:</b>
          </p>
        </td>
        <td rowspan="2" colspan="21" width="430">
          <p  class="western"><b>XVI JAEM - Jornadas para el Aprendizaje y la Enseñanza de las Matemáticas</b></p>
        </td>
        <td colspan="2" width="154" style="background-color:#c0c0c0; border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1.00pt solid #000000;">
          <p  class="western" align="CENTER"><b>Código
          de la actividad</b></p>
        </td>
      </tr>
      <tr>
       <td colspan="2" width="154" style="background-color:#c0c0c0; border-top: none; border-bottom: none; border-left: 1px solid #000000; border-right: 1.00pt solid #000000;">
          <p  class="western" align="CENTER"></p>
        </td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td colspan="27" width="645" height="17" style="background-color:#c0c0c0; border-top: 1.00pt solid #000000; border-bottom: none; border-left: 1.00pt solid #000000; border-right: 1.00pt solid #000000;">
          <p class="western" align="CENTER"><b>DATOS
          PERSONALES  (1)</b></p>
        </td>
      </tr>
    </tbody>
    <tbody>
      <tr valign="TOP">
        <td colspan="21" width="490" height="20" style="border-top: 1px solid #000000; border-bottom: none; border-left: 1.00pt solid #000000; border-right: none; ">
          <p  class="western"><u><b>Apellidos
          y Nombre:</b></u><br/>
          {{ object.first_name }} {{ object.last_name }}</p>
        </td>
        <td colspan="6" width="152" style="border-top: 1px solid #000000; border-bottom: none; border-left: 1px solid #000000; border-right: 1.00pt solid #000000; ">
          <p  class="western"><u><b>NIF,
          Pasaporte, etc:</b></u><br/>
          {{ object.id_card }}</p>
        </td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td colspan="27" width="645" height="20" valign="TOP" style="border-top: 1px solid #000000; border-bottom: none; border-left: 1.00pt solid #000000; border-right: 1.00pt solid #000000; ">
          <p  class="western"><u><b>Domicilio
          particular:</b></u><br/>
          {{ object.home_address }}</p>
        </td>
      </tr>
    </tbody>
    <tbody>
      <tr valign="TOP">
        <td colspan="6" width="141" height="40" style="border-top: 1px solid #000000; border-bottom: none; border-left: 1.00pt solid #000000; border-right: none; ">
          <p  class="western"><u><b>Localidad:</b></u><br/>
            {{ object.home_town }}</p>
        </td>
        <td colspan="7" width="117" style="border-top: 1px solid #000000; border-bottom: none; border-left: 1px solid #000000; border-right: none; ">
          <p  class="western"><u><b>Provincia:</b></u><br/>
            {{ object.home_province }}</p>
        </td>
        <td colspan="6" width="131" style="border-top: 1px solid #000000; border-bottom: none; border-left: 1px solid #000000; border-right: none; ">
          <p  class="western"><u><b>Código  Postal:</b></u><br/>
            {{ object.home_postalcode }}</p>
        </td>
        <td colspan="4" width="120" style="border-top: 1px solid #000000; border-bottom: none; border-left: 1px solid #000000; border-right: none; ">
          <p  class="western"><u><b>Teléfono
          fijo:</b></u><br/>
          {{ object.phone_number }}</p>
        </td>
        <td colspan="4" width="124" style="border-top: 1px solid #000000; border-bottom: none; border-left: 1px solid #000000; border-right: 1.00pt solid #000000; ">
          <p  class="western"><u><b>Móvil:</b></u><br/>
            {{ object.mobile_number }}</p>
        </td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td colspan="27" width="645" height="23" style="border-top: 1px solid #000000; border-bottom: 1.00pt solid #000000; border-left: 1.00pt solid #000000; border-right: 1.00pt solid #000000;">
          <p  class="western"><u><b>E-mail:</b></u> {{ object.email_address }}</p>
        </td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td colspan="27" width="645" height="17" style="background-color:#c0c0c0; border-top: 1.00pt solid #000000; border-bottom: none; border-left: 1.00pt solid #000000; border-right: 1.00pt solid #000000; ">
          <p  class="western" align="CENTER"><b>DATOS
          PROFESIONALES y Nivel/Etapa que imparte: (1) </b>
          </p>
        </td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td colspan="9" width="165" height="21" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1.00pt solid #000000; border-right: none; ">
          <p  class="western" align="JUSTIFY">
            {% if '1' in object.laboral_category  %}
            <img src="contactes/img/check_box_25.png" width="15" height="15" border="0">
            {% else %}
            <img src="contactes/img/uncheck_box_25.png" width="15" height="15" border="0">
            {% endif %}
             Funcionario/a ME o CCAA
            </p>

        </td>
        <td colspan="7" width="184" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; ">
          <p  class="western" align="JUSTIFY">
            {% if '2' in object.laboral_category  %}
            <img src="contactes/img/check_box_25.png" width="15" height="15" border="0">
            {% else %}
            <img src="contactes/img/uncheck_box_25.png" width="15" height="15" border="0">
            {% endif %}
             Interino/a ME o CCAA</p>
        </td>
        <td colspan="11" width="290" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1.00pt solid #000000; ">
          <p  class="western" align="JUSTIFY">
            {% if '3' in object.laboral_category  %}
            <img src="contactes/img/check_box_25.png" width="15" height="15" border="0">
            {% else %}
            <img src="contactes/img/uncheck_box_25.png" width="15" height="15" border="0">
            {% endif %}
             Otros funcionarios (Universidades)</p>
        </td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td colspan="9" width="165" height="21" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1.00pt solid #000000; border-right: none; ">
          <p  class="western" align="JUSTIFY">
            {% if '4' in object.laboral_category  %}
            <img src="contactes/img/check_box_25.png" width="15" height="15" border="0">
            {% else %}
            <img src="contactes/img/uncheck_box_25.png" width="15" height="15" border="0">
            {% endif %}
             Profesor/a Privada concertada</p>
        </td>
        <td colspan="7" width="184" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; ">
          <p  class="western" align="JUSTIFY">
            {% if '5' in object.laboral_category  %}
            <img src="contactes/img/check_box_25.png" width="15" height="15" border="0">
            {% else %}
            <img src="contactes/img/uncheck_box_25.png" width="15" height="15" border="0">
            {% endif %}
             Profesor/a Privada no concertada</p>
        </td>
        <td colspan="11" width="290" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1.00pt solid #000000; ">
          <p  class="western" align="JUSTIFY">
            {% if '6' in object.laboral_category  %}
            <img src="contactes/img/check_box_25.png" width="15" height="15" border="0">
            {% else %}
            <img src="contactes/img/uncheck_box_25.png" width="15" height="15" border="0">
            {% endif %}
             Sin experiencia docente (Magisterio/Formación inicial)</p>
        </td>
      </tr>
    </tbody>
    <tbody>
      <tr valign="TOP">
        <td colspan="20" width="465" height="20" style="border-top: 1px solid #000000; border-bottom: none; border-left: 1.00pt solid #000000; border-right: none;">
          <p  class="western"><u><b>Centro de destino Docente:</b></u><br/>
            {{ object.laboral_centername }}</p>
        </td>
        <td colspan="7" width="177" style="border-top: 1px solid #000000; border-bottom: none; border-left: 1px solid #000000; border-right: 1.00pt solid #000000;">
          <p  class="western"><u><b>Código del Centro:</b></u><br/>
            {{ object.laboral_centercode }}</p>
          </p>
        </td>
      </tr>
    </tbody>
    <tbody>
      <tr valign="TOP">
        <td colspan="6" width="141" height="20" style="border-top: 1px solid #000000; border-bottom: none; border-left: 1.00pt solid #000000; border-right: none;">
          <p  class="western"><u><b>Localidad:</b></u><br/>
          {{ object.laboral_centertown }}</p>
        </td>
        <td colspan="7" width="117" style="border-top: 1px solid #000000; border-bottom: none; border-left: 1px solid #000000; border-right: none; ">
          <p  class="western"><u><b>Provincia:</b></u><br/>
          {{ object.laboral_centerprovince }}</p>
        </td>
        <td colspan="6" width="131" style="border-top: 1px solid #000000; border-bottom: none; border-left: 1px solid #000000; border-right: none; ">
          <p  class="western"><u><b>Código Postal:</b></u><br/>
          {{ object.laboral_centerpostalcode }}</p>
        </td>
        <td colspan="4" width="120" style="border-top: 1px solid #000000; border-bottom: none; border-left: 1px solid #000000; border-right: none; ">
          <p  class="western"><u><b>Tfno.:</b></u><br/>
            {{ object.laboral_centerphone }}</p>
        </td>
        <td colspan="4" width="124" style="border-top: 1px solid #000000; border-bottom: none; border-left: 1px solid #000000; border-right: 1.00pt solid #000000; ">
          <p  class="western"><u><b>Comunidad Autónoma:</b></u><br/>-</p>
        </td>
      </tr>
    </tbody>
    <tbody>
      <tr valign="TOP">
        <td colspan="16" width="313" height="20" style="border-top: 1px solid #000000; border-bottom: none; border-left: 1.00pt solid #000000; border-right: none; ">
          <p  class="western"><u><b>Descripción del perfil profesional:</b></u><br/>
          {{ object.laboral_degree }}</p>

        </td>
        <td colspan="6" width="145" style="border-top: 1px solid #000000; border-bottom: none; border-left: 1px solid #000000; border-right: none; ">
          <p  class="western"><u><b>N.R.P.</b>:</u><br/>
          {{ object.laboral_nrp }}</p>
        </td>
        <td colspan="5" width="180" style="border-top: 1px solid #000000; border-bottom: none; border-left: 1.00pt solid #000000; border-right: 1.00pt solid #000000; ">
          <p  class="western"><u><b>Años de experiencia docente:</b></u><br/>
          {{ object.laboral_years }}</p>
        </td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td colspan="6" width="141" height="16" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1.00pt solid #000000; border-right: none;">
          <p  class="western">
            {% if '1' in object.laboral_levels  %}
            <img src="contactes/img/check_box_25.png" width="15" height="15" border="0">
            {% else %}
            <img src="contactes/img/uncheck_box_25.png" width="15" height="15" border="0">
            {% endif %}
             Educación Infantil
          </p>
        </td>
        <td colspan="9" width="201" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none;">
          <p  class="western">
            {% if '5' in object.laboral_levels  %}
            <img src="contactes/img/check_box_25.png" width="15" height="15" border="0">
            {% else %}
            <img src="contactes/img/uncheck_box_25.png" width="15" height="15" border="0">
            {% endif %}
             Formación Profesional
          </p>
        </td>
        <td colspan="12" width="297" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1.00pt solid #000000;">
          <p  class="western">
            {% if '10' in object.laboral_levels  %}
            <img src="contactes/img/check_box_25.png" width="15" height="15" border="0">
            {% else %}
            <img src="contactes/img/uncheck_box_25.png" width="15" height="15" border="0">
            {% endif %}
             Educación Permanente de adultos
          </p>
        </td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td colspan="6" width="141" height="16" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1.00pt solid #000000; border-right: none;">
          <p  class="western">
            {% if '2' in object.laboral_levels  %}
            <img src="contactes/img/check_box_25.png" width="15" height="15" border="0">
            {% else %}
            <img src="contactes/img/uncheck_box_25.png" width="15" height="15" border="0">
            {% endif %}
             Educación Primaria
          </p>
        </td>
        <td colspan="9" width="201" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none;">
          <p  class="western">
            {% if '7' in object.laboral_levels  %}
            <img src="contactes/img/check_box_25.png" width="15" height="15" border="0">
            {% else %}
            <img src="contactes/img/uncheck_box_25.png" width="15" height="15" border="0">
            {% endif %}
             Enseñanzas Artísticas y de Idiomas
          </p>
        </td>
        <td colspan="12" width="297" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1.00pt solid #000000;">
          <p  class="western">
            {% if '11' in object.laboral_levels  %}
            <img src="contactes/img/check_box_25.png" width="15" height="15" border="0">
            {% else %}
            <img src="contactes/img/uncheck_box_25.png" width="15" height="15" border="0">
            {% endif %}
             Equipos Orientación Educación y Psicopedagógica
          </p>
        </td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td colspan="6" width="141" height="16" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1.00pt solid #000000; border-right: none;">
          <p  class="western">
            {% if '3' in object.laboral_levels  %}
            <img src="contactes/img/check_box_25.png" width="15" height="15" border="0">
            {% else %}
            <img src="contactes/img/uncheck_box_25.png" width="15" height="15" border="0">
            {% endif %}
             Enseñanza Secundaria Obligatoria
          </p>
        </td>
        <td colspan="9" width="201" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none;">
          <p  class="western">
            {% if '8' in object.laboral_levels  %}
            <img src="contactes/img/check_box_25.png" width="15" height="15" border="0">
            {% else %}
            <img src="contactes/img/uncheck_box_25.png" width="15" height="15" border="0">
            {% endif %}
             Escuelas Oficiales de Idiomas
          </p>
        </td>
        <td colspan="12" width="297" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1.00pt solid #000000;">
          <p  class="western">
            {% if '12' in object.laboral_levels  %}
            <img src="contactes/img/check_box_25.png" width="15" height="15" border="0">
            {% else %}
            <img src="contactes/img/uncheck_box_25.png" width="15" height="15" border="0">
            {% endif %}
             Profesores de nacionalidad extranjera.
          </p>
        </td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td colspan="6" width="141" height="16" style="border-top: 1px solid #000000; border-bottom: 1.00pt solid #000000; border-left: 1.00pt solid #000000; border-right: none;">
          <p  class="western">
            {% if '4' in object.laboral_levels  %}
            <img src="contactes/img/check_box_25.png" width="15" height="15" border="0">
            {% else %}
            <img src="contactes/img/uncheck_box_25.png" width="15" height="15" border="0">
            {% endif %}
             Bachillerato
          </p>
        </td>
        <td colspan="9" width="201" style="border-top: 1px solid #000000; border-bottom: 1.00pt solid #000000; border-left: 1px solid #000000; border-right: none;">
          <p  class="western">
            {% if '9' in object.laboral_levels  %}
            <img src="contactes/img/check_box_25.png" width="15" height="15" border="0">
            {% else %}
            <img src="contactes/img/uncheck_box_25.png" width="15" height="15" border="0">
            {% endif %}
             Educación Especial
          </p>
        </td>
        <td colspan="12" width="297" style="border-top: 1px solid #000000; border-bottom: 1.00pt solid #000000; border-left: 1px solid #000000; border-right: 1.00pt solid #000000;">
          <p  class="western">
            {% if '13' in object.laboral_levels  %}
            <img src="contactes/img/check_box_25.png" width="15" height="15" border="0">
            {% else %}
            <img src="contactes/img/uncheck_box_25.png" width="15" height="15" border="0">
            {% endif %}
             Personal de otros ámbitos: (Inspectores al Servicio de la Admón.
          Educativa, ...) Especificar
          </p>
        </td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td colspan="27" width="645" height="17" style="background-color:#c0c0c0; border-top: 1.00pt solid #000000; border-bottom: 1px solid #000000; border-left: 1.00pt solid #000000; border-right: 1.00pt solid #000000;">
          <p  class="western" align="CENTER"><b>Cuerpo
          Docente de procedencia </b>(sólo para funcionarios/as):</p>
        </td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td colspan="8" width="153" height="13" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1.00pt solid #000000; border-right: none; ">
          <p  class="western">
            {% if '1' == object.laboral_cuerpo  %}
            <img src="contactes/img/check_box_25.png" width="15" height="15" border="0">
            {% else %}
            <img src="contactes/img/uncheck_box_25.png" width="15" height="15" border="0">
            {% endif %}
             Maestros
          </p>
        </td>
        <td colspan="9" width="213" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; ">
          <p  class="western">
            {% if '5' == object.laboral_cuerpo  %}
            <img src="contactes/img/check_box_25.png" width="15" height="15" border="0">
            {% else %}
            <img src="contactes/img/uncheck_box_25.png" width="15" height="15" border="0">
            {% endif %}
             Prof. de Música y Artes Esc.
          </p>
        </td>
        <td colspan="10" width="273" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1.00pt solid #000000;">
          <p  class="western">
            {% if '9' == object.laboral_cuerpo  %}
            <img src="contactes/img/check_box_25.png" width="15" height="15" border="0">
            {% else %}
            <img src="contactes/img/uncheck_box_25.png" width="15" height="15" border="0">
            {% endif %}
             Inspectores de Educación: ME o CCAA
          </p>
        </td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td colspan="8" width="153" height="13" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1.00pt solid #000000; border-right: none;m">
          <p  class="western">
            {% if '2' == object.laboral_cuerpo  %}
            <img src="contactes/img/check_box_25.png" width="15" height="15" border="0">
            {% else %}
            <img src="contactes/img/uncheck_box_25.png" width="15" height="15" border="0">
            {% endif %}
             Prof.  Ens. Secundaria
          </p>
        </td>
        <td colspan="9" width="213" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none;">
          <p  class="western">
            {% if '6' == object.laboral_cuerpo  %}
            <img src="contactes/img/check_box_25.png" width="15" height="15" border="0">
            {% else %}
            <img src="contactes/img/uncheck_box_25.png" width="15" height="15" border="0">
            {% endif %}
             Catedr. de Música y Artes Esc.
          </p>
        </td>
        <td colspan="10" width="273" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1.00pt solid #000000;">
          <p  class="western">
            {% if '10' == object.laboral_cuerpo  %}
            <img src="contactes/img/check_box_25.png" width="15" height="15" border="0">
            {% else %}
            <img src="contactes/img/uncheck_box_25.png" width="15" height="15" border="0">
            {% endif %}
             Catedráticos
          </p>
        </td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td colspan="8" width="153" height="13" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1.00pt solid #000000; border-right: none;">
          <p  class="western">
            {% if '3' == object.laboral_cuerpo  %}
            <img src="contactes/img/check_box_25.png" width="15" height="15" border="0">
            {% else %}
            <img src="contactes/img/uncheck_box_25.png" width="15" height="15" border="0">
            {% endif %}
             Prof. Técnicos de Form. Profes.
          </p>
        </td>
        <td colspan="9" width="213" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none;">
          <p  class="western">
            {% if '7' == object.laboral_cuerpo  %}
            <img src="contactes/img/check_box_25.png" width="15" height="15" border="0">
            {% else %}
            <img src="contactes/img/uncheck_box_25.png" width="15" height="15" border="0">
            {% endif %}
             Maestros de taller Artes Plást. y Diseño
          </p>
        </td>
        <td colspan="10" width="273" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1.00pt solid #000000;">
          <p  class="western">
            {% if '11' == object.laboral_cuerpo  %}
            <img src="contactes/img/check_box_25.png" width="15" height="15" border="0">
            {% else %}
            <img src="contactes/img/uncheck_box_25.png" width="15" height="15" border="0">
            {% endif %}
             Prof. Universitarios.
          </p>
        </td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td colspan="8" width="153" height="13" style="border-top: 1px solid #000000; border-bottom: 1.00pt solid #000000; border-left: 1.00pt solid #000000; border-right: none;">
          <p  class="western">
            {% if '4' == object.laboral_cuerpo  %}
            <img src="contactes/img/check_box_25.png" width="15" height="15" border="0">
            {% else %}
            <img src="contactes/img/uncheck_box_25.png" width="15" height="15" border="0">
            {% endif %}
             Prof. de Esc. Of. De Idiomas
          </p>
        </td>
        <td colspan="9" width="213" style="border-top: 1px solid #000000; border-bottom: 1.00pt solid #000000; border-left: 1px solid #000000; border-right: none;">
          <p  class="western">
            {% if '8' == object.laboral_cuerpo  %}
            <img src="contactes/img/check_box_25.png" width="15" height="15" border="0">
            {% else %}
            <img src="contactes/img/uncheck_box_25.png" width="15" height="15" border="0">
            {% endif %}
             Prof. de  Artes Plást. y Diseño
          </p>
        </td>
        <td colspan="10" width="273" style="border-top: 1px solid #000000; border-bottom: 1.00pt solid #000000; border-left: 1px solid #000000; border-right: 1.00pt solid #000000;">
          <p  class="western">&nbsp;</p>
        </td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td colspan="27" width="645" height="17" style="background-color:#c0c0c0; border-top: 1.00pt solid #000000; border-bottom: 1px solid #000000; border-left: 1.00pt solid #000000; border-right: 1.00pt solid #000000; ">
          <p  class="western" align="CENTER"><b>Cumplimentar
          sólo los responsables de actividades</b></p>
        </td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td colspan="3" width="92" height="21" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1.00pt solid #000000; border-right: none; ">
          <p  class="western"><img src="contactes/img/uncheck_box_25.png" width="15" height="15" border="0"> <b>Director/a</b></p>
        </td>
        <td colspan="9" width="158" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; ">
          <p  class="western"><img src="contactes/img/uncheck_box_25.png" width="15" height="15" border="0"> <b>Coordinador/a
          </b>
          </p>
        </td>
        <td colspan="7" width="139" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; ">
          <p  class="western"><img src="contactes/img/uncheck_box_25.png" width="15" height="15" border="0"> <b>Secretario/a</b></p>
        </td>
        <td colspan="3" width="110" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; ">
          <p  class="western"><img src="contactes/img/uncheck_box_25.png" width="15" height="15" border="0"> <b>Tutor/a</b></p>
        </td>
        <td colspan="5" width="133" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1.00pt solid #000000; ">
          <p  class="western" style="margin-left: 0.03cm"><img src="contactes/img/uncheck_box_25.png" width="15" height="15" border="0"> <b>Ponente</b></p>
        </td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td colspan="27" width="645" height="42" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1.00pt solid #000000; border-right: 1.00pt solid #000000; ">
          <p  class="western"><b><u>Titulo
          de la/s ponencia/s: (en su caso) </u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u>Horas:</u></b></p>
          <p  class="western" align="CENTER"><br/>
          </p>
        </td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td colspan="27" width="645" height="54" style="border-top: 1px solid #000000; border-bottom: none; border-left: none; border-right: none;">
          <p  class="western" align="JUSTIFY">
          <br/>(1)
           Los DATOS PERSONALES y los DATOS PROFESIONALES deberán estar
          cumplimentados en su totalidad. Las fichas que omitan alguno de
          ellos serán devueltas a la Entidad Organizadora, para que en el
          plazo máximo de diez días y totalmente cumplimentadas, las
          remita nuevamente a este Instituto para poder emitir el
          correspondiente certificado. Si así no lo hiciera, se le tendrá
          por desistido de su petición.</p>
          <p  class="western" align="JUSTIFY">
            <i>(Artículo
          71 de la  Ley 30/1992 de Régimen Jurídico de las
          Administraciones Públicas y del Procedimiento Administrativo
          Común) </i>
          </p>
        </td>
      </tr>
      <tr valign="BOTTOM">
        <td width="60" height="8" style="border: none; ">
          <p  class="western"><br>
          </p>
        </td>
        <td width="24" style="border: none; ">
          <p  class="western"><br>
          </p>
        </td>
        <td colspan="3" width="26" style="border: none; ">
          <p  class="western"><br>
          </p>
        </td>
        <td colspan="2" width="24" style="border: none; ">
          <p  class="western"><br>
          </p>
        </td>
        <td colspan="3" width="20" style="border: none; ">
          <p  class="western"><br>
          </p>
        </td>
        <td colspan="17" width="475" style="border: none; ">
          <p  class="western" align="CENTER"> {{ object.home_town }}, a {{ avui }}</p>
        </td>
      </tr>
      <tr>
        <td colspan="10" width="166" height="70" valign="TOP" style="border-top: none; border-bottom: 1px double #000000; border-left: none; border-right: none; ">
          <p  class="western" align="JUSTIFY">&nbsp;</p>
        </td>
        <td width="57" style="border-top: none; border-bottom: 1px double #000000; border-left: none; border-right: none; ">
          <p  class="western" align="RIGHT">&nbsp;</p>
        </td>
        <td colspan="3" width="57" style="border-top: none; border-bottom: 1px double #000000; border-left: none; border-right: none; ">
          <p  class="western" align="RIGHT">&nbsp;</p>
        </td>
        <td colspan="2" width="63" style="border-top: none; border-bottom: 1px double #000000; border-left: none; border-right: none; ">
          <p  class="western" align="RIGHT"><br>
          </p>
        </td>
        <td colspan="10" width="205" valign="BOTTOM" style="border-top: none; border-bottom: 1px double #000000; border-left: none; border-right: none; ">
          <p  class="western" align="JUSTIFY"><br/>Firma
          del Participante
          </p>
          <p  class="western" align="JUSTIFY">
          </p>
        </td>
        <td width="82" style="border-top: none; border-bottom: 1px double #000000; border-left: none; border-right: none; ">
          <p  class="western" align="RIGHT">&nbsp;</p>
        </td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td colspan="27" width="645" height="53" style="border: none; ">
          <p  class="western" align="JUSTIFY"><br/><br/>Sus
          datos personales serán incorporados en un fichero automatizado,
          siendo tratados de forma totalmente confidencial (Ley Orgánica
          15/1999) y únicamente podrán ser utilizados para el estricto
          cumplimiento de las funciones derivadas de las acciones de
          formación. Puede ejercitar los derechos de acceso,
          rectificación, oposición y cancelación en cualquier momento,
          dirigiéndose por escrito al Instituto de Formación del
          Profesorado, Investigación e Innovación Educativa, General
          Oraa, 55, 28006 - MADRID
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</center>
</body></html>