{% extends "contacts/base_pdf.html" %}
{% load i18n %}

{% block title %}Justificante de pago{% endblock %}

{% block content_title %}
    Justificante de pago
{% endblock %}

{% block content %}
    <p>
Hemos recibido de {{ object.first_name }} {{ object.last_name }}, con DNI {{ object.id_card }}, la cantidad de {{ object.paid }} € en concepto de cuota de inscripción en las XVI JAEM (Jornadas sobre el Aprendizaje y la Enseñanza de las Matemáticas), que se celebrarán en Palma del 2 al 5 de julio de 2013.
</p>

<p>
Palma, a {% now "d" %} de {% now "M" %} de {% now "Y" %}
</p>

<p>
Josep Lluís Pol i Llompart<br/>     
Presidente del Comité Organizador
</p>
{% endblock %}

