{% extends "contacts/base_pdf.html" %}
{% load i18n %}

{% block title %}Justificant de pagament{% endblock %}

{% block content_title %}
    Justificant de pagament
{% endblock %}

{% block content %}
<br/>
<br/>
    <p>
Hem rebut de <b>{{ object.first_name }} {{ object.last_name }}</b>, amb DNI <b>{{ object.id_card }}</b>, la quantitat de {{ object.paid }} € en concepte de quota d'inscripció a les XVI JAEM (Jornades per a l'Aprenentatge i l'Ensenyança de les Matemàtiques), que se celebraran a Palma del 2 al 5 de juliol de 2013.
</p>
<br/>
<p>
<i>Palma, a {{ avui }}</i>
</p>

<table border="0" width="100%" align="center"> 
        <tr class="header-row">
        <td colspan="1">&nbsp;</td>
        <td aling="center" width="400px"><center><img src="contactes/img/signatura_214x125_300ppp.png"  height="125" width="214" title="XVI JAEM" alt="Logo JAEM" />
	<br>
	<b>Josep Lluís Pol i Llompart</b><br/>     
	<i>President del comitè organitzador</i></td></center>
	</tr>
</table>

{% endblock %}

{% block footer_img %}
    <img src="contactes/img/peu744x95_300ppp.png"  height="115" width="900" title="XVI JAEM" alt="Logo JAEM" />
{% endblock %}

