{% extends "contacts/excursion/base.html" %}
{% load i18n %}
{% load bootstrap_toolkit %}

{% block title %}{{ block.super }}: {% trans "Edit" %} {{ object }}{% endblock %}

{% block content_title %}
    {{ object }}
    <div class="pull-right"><span class="label label-{{ object.get_label }}">{{ object.get_status_display }}</span></div>
{% endblock %}

{% block content %}
{% if id_form.errors  %}
    <div class="alert alert-error alert-block">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4>{% trans 'Error at' %} {% trans 'Identification' %}</h4>
        {{ id_form.errors }}
    </div>
{% endif %}
{% if reg_form.errors  %}
    <div class="alert alert-error alert-block">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4>{% trans 'Error at' %} {% trans 'JAEM registration' %}</h4>
        {{ reg_form.errors }}
    </div>
{% endif %}
{% if adr_form.errors  %}
    <div class="alert alert-error alert-block">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4>{% trans 'Error at' %} {% trans 'Contact information' %}</h4>
        {{ adr_form.errors }}
    </div>
{% endif %}
{% if lab_form.errors  %}
    <div class="alert alert-error alert-block">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4>{% trans 'Error at' %} {% trans 'Laboral data' %}</h4>
        {{ lab_form.errors }}
    </div>
{% endif %}

    <form action="." method="post" accept-charset="utf-8" enctype="multipart/form-data" class="form-horizontal">
        {% csrf_token %}
        <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#form_id" data-toggle="tab">Identificació</a></li>
            <li><a href="#form_reg" data-toggle="tab">Registre JAEM</a></li>
            <li><a href="#form_adr" data-toggle="tab">Dades de contacte</a></li>
            <li><a href="#form_lab" data-toggle="tab">Dades laborals</a></li>
            <li><a href="#mail_history" data-toggle="tab" id="mail_history_tab">{% trans 'Mail history' %}</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="form_id">
                {{ id_form|as_bootstrap }}
            </div>
            <div class="tab-pane" id="form_reg">
                {{ reg_form|as_bootstrap }}
            </div>
            <div class="tab-pane" id="form_adr">
                {{ adr_form|as_bootstrap }}
            </div>
            <div class="tab-pane" id="form_lab">
                {{ lab_form|as_bootstrap }}
                <div class="control-group">
                    <label class="control-label">{{ level_form.laboral_levels.label }}</label>
                    <div class="controls">
                    {{ level_form.laboral_levels }}
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="mail_history">
                <div id="mail_history_loading" class="loading">
                    {% trans 'Loading messages' %}
                    <img src="/contactes/img/ajax-loader.gif" title="{% trans 'Loading' %}" alt="Loading" />
                </div>
               <div id="mail_history_error" class="alert alert-error alert-block" style="display:none;">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <h4>{% trans "Error!" %}</h4>
                    <span></span>
                </div>
                <div id="mail_history_list">
                </div>
            </div>


        </div>
        </div>
        <div class="form-actions">
            <button type="submit" value="Submit" class="btn btn-primary"><i class="icon-white icon-ok"></i> {% trans 'Save' %}</button>
        </div>
    </form>
    <small>
        {% trans 'Record created in' %} {{ object.date_added }}{% if object.user_add %} {% trans 'by' %} {{ object.user_add }}{% endif %}. {% trans 'Modified in' %} {{ object.date_modified }}{% if object.user_modify %} {% trans 'by' %} {{ object.user_modify }}{% endif %}.
    </small>



{% endblock %}

{% block actions %}


<a href="{%  url contacts_person_list %}" class="btn"><i class="icon-arrow-left"></i> {% trans "Return to list" %}</a>
<a href="{{ object.get_absolute_url }}" class="btn"><i class="icon-eye-open"></i> {% trans "Read" %}</a>
{% if object.paid %}
<a href="{{ object.get_justificantpagament_url }}" class="btn"><i class="icon-file"></i> {% trans "Justificant de pagament" %}</a>
{% endif %}
{% if object.status == 'ok_all' and object.contact_type != 'R' %}
<a href="{{ object.get_justificantregistre_url }}" class="btn"><i class="icon-file"></i> {% trans "Justificant de inscripcio" %}</a>
{% endif %}
{% if object.status == 'ok_all' and object.date_mailregister == None %}
    <a href="#modal_mail_pagament" role="button" data-toggle="modal" class="btn"><i class="icon-envelope"></i> {% trans 'Send mail inscription ok' %}</a>
{% endif %}
{% if object.status == 'notpaid_late' and object.date_mailnotpaid == None %}
    <a href="#modal_mail_pagamentretrasat" role="button" data-toggle="modal" class="btn"><i class="icon-envelope"></i> {% trans 'Send mail payment overdue' %}</a>
{% endif %}
{% if object.status == 'cancelled' %}
    <a href="{{ object.get_cancel_url }}" class="btn"><i class="icon-thumbs-up"></i> {% trans 'Get inscription back' %}</a>
{% else %}
    <a href="{{ object.get_cancel_url }}" class="btn"><i class="icon-thumbs-down"></i> {% trans 'Cancel inscription' %}</a>
{% endif %}
<a href="{{ object.get_delete_url }}" class="btn"><i class="icon-trash"></i> {% trans "Delete" %}</a>
</div>
<div class="btn-group" style="float:right;margin-top: -50px;" id="list-sendmail">
<a href="#" id="btn-sendmail" class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-envelope"></i> {% trans "Send mail" %} <span class="caret"></span></a>


{% if object.status == 'ok_all' and object.date_mailregister == None %}
<div id="modal_mail_pagament" class="modal hide fade" tabindex="-1" role="dialog">
    <div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">{% trans "Send mail inscription ok" %}</h3>
    </div>
    <div class="modal-body"><h5>{% trans "You are about to send the inscription ok mail" %}</h5></div>
    <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Close" %}</button>
    <button class="btn btn-primary btn-mail" formaction="{{ object.get_mailjustificantpagament_url }}" data-loading-text="{% trans "sending" %}..." >{% trans "Send mail" %}</button>
    </div>
</div>
{% endif %}

{% if object.status == 'notpaid_late' and object.date_mailnotpaid == None %}
<div id="modal_mail_pagamentretrasat" class="modal hide fade" tabindex="-1" role="dialog">
    <div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">{% trans "Send mail payment overdue" %}</h3>
    </div>
    <div class="modal-body"><h5>{% trans "You are about to send a payment overdue mail" %}</h5></div>
    <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Close" %}</button>
    <button class="btn btn-primary btn-mail" formaction="{{ object.get_mailpagamentretrasat_url }}" data-loading-text="{% trans "sending" %}..." >{% trans "Send mail" %}</button>
    </div>
</div>
{% endif %}

{% endblock %}
{% block page_js %}
    <script type="text/javascript">
        var URL_MAILTEMPLATE_LOOKUP = '{% url contacts_mailtemplate_lookup %}';
        var LINKMAIL = '{{ object.get_mail_url }}';
        var TRADUCTION = { sendmail : '{% trans "Send mail" %}' ,
                           close : '{% trans "Close" %}',
                           message_about_to_send : '{% trans "You are about to send the mail with subject: " %}',
                           sending : '{% trans "sending" %}',
                        };
        var URL_GET_MAILHISTORY = '{{ object.get_mailhistory_url }}';
    </script>
    <script src="/contactes/js/person_mail.js"></script>
    <script src="/contactes/js/person_mailhistory.js"></script>


{% endblock page_js %}
